# Demonstração de como cadastrar jogadores da copa do mundo no python para o banco de dados

# Importando as bibliotecas utilizadas no projeto

In [42]:
import tkinter as tk
import sqlite3
import pandas as pd
import os
import pandas as pd

# Criando um auto remove para a tabela do banco de dados

In [43]:
os.remove('jogadores.db')if os.path.exists('jogadores.db') else None

# Criando a conexão do python com o banco de dados sqlite3 e criando a função de criar tabela

In [44]:
conexao = sqlite3.connect('jogadores.db')
#
# # Criando o cursor:
c = conexao.cursor()
#
# # Criando a tabela:
def create_table():
    c.execute("""CREATE TABLE  jogador (
     nome text,
     selecao text,
     idade integer,
     posicao text
     )""")
#
# #Commit as mudanças:
    conexao.commit()
#
# #Fechar o banco de dados:
    #conexao.close()
create_table()

# Criando conexão do python com a biblioteca de interface grafica

In [45]:
#Criando Janela:

janela = tk.Tk()
janela.title('Cadastro de Jogador')
janela. geometry("330x350")

''

# Criando a função de cadastrar jogador

In [46]:
def cadastrar_jogador():
    conexao = sqlite3.connect('jogadores.db')
    c = conexao.cursor()

    #Inserir dados na tabela:
    c.execute("INSERT INTO jogador VALUES (:nome,:selecao,:idade,:posicao)",
              {
                  'nome': entry_nome.get(),
                  'selecao': entry_selecao.get(),
                  'idade': entry_idade.get(),
                  'posicao': entry_posicao.get()
              })


    # Commit as mudanças:
    conexao.commit()

    # Fechar o banco de dados:
    #conexao.close()

    # #Apaga os valores das caixas de entrada
    entry_nome.delete(0,"end")
    entry_selecao.delete(0,"end")
    entry_idade.delete(0,"end")
    entry_posicao.delete(0,"end")

# Criando a função de mostrar os dados do banco de dados na tela

In [47]:
def find_all():
    
    conexao = sqlite3.connect('jogadores.db')
    c = conexao.cursor()
    c.execute("SELECT * FROM jogador")
    return c.fetchall()

# Criando a função de deletar registros do banco de dados

In [48]:
def deletar_registro(nome):
    
    conexao = sqlite3.connect('jogadores.db')
    c = conexao.cursor()
    cursor.execute("DELETE from jogador WHERE nome = %s", (str(nome),))
    conexao.commit()

# Criando a função de deletar a tabela inteira

In [49]:
def deletar_table():
    
    conexao = sqlite3.connect('jogadores.db')
    c = conexao.cursor()
    cursor.execute("DROP TABLE jogador")
    conexao.commit()

# Criando a janela com a interface grafica

In [50]:
#Rótulos Entradas:
label_nome = tk.Label(janela, text='Nome')
label_nome.grid(row=0,column=0, padx=10, pady=10)

label_selecao = tk.Label(janela, text='Seleção')
label_selecao.grid(row=1, column=0, padx=10, pady=10)

label_idade = tk.Label(janela, text='Idade')
label_idade.grid(row=2, column=0 , padx=10, pady=10)

label_posicao = tk.Label(janela, text='Posição')
label_posicao.grid(row=3, column=0, padx=10, pady=10)

#Caixas Entradas:
entry_nome = tk.Entry(janela , width =35)
entry_nome.grid(row=0,column=1, padx=10, pady=10)

entry_selecao = tk.Entry(janela, width =35)
entry_selecao.grid(row=1, column=1, padx=10, pady=10)

entry_idade = tk.Entry(janela, width =35)
entry_idade.grid(row=2, column=1 , padx=10, pady=10)

entry_posicao = tk.Entry(janela, width =35)
entry_posicao.grid(row=3, column=1, padx=10, pady=10)

# Botão de Cadastrar

botao_cadastrar = tk.Button(text='Cadastrar Jogador', command=cadastrar_jogador)
botao_cadastrar.grid(row=4, column=0,columnspan=2, padx=10, pady=10 , ipadx = 80)




janela.mainloop()

# Selecionando todos os registros da tabela criada

In [51]:
s = find_all()
s

[('Messi', 'Argentina', 34, 'Meia-Atacante'),
 ('Cristiano Ronaldo', 'Portugual', 37, 'Atacante'),
 ('Mbappe', 'França', 21, 'Atacante'),
 ('De Bruyne', 'Bélgica', 29, 'Meia'),
 ('Van Dijk', 'Holand', 30, 'Zagueiro'),
 ('Varane', 'França', 30, 'Zagueiro'),
 ('Benzema', 'França', 33, 'Atacante'),
 ('Vinicius Junior', 'Brasil', 22, 'Atacante'),
 ('Kante', 'França', 29, 'Volante')]

# Transformando a tabela do banco de dados criada em um Dataframe

In [52]:
jogador_df = pd.read_sql('select * from jogador',conexao)
jogador_df

                nome    selecao  idade        posicao
0              Messi  Argentina     34  Meia-Atacante
1  Cristiano Ronaldo  Portugual     37       Atacante
2             Mbappe     França     21       Atacante
3          De Bruyne    Bélgica     29           Meia
4           Van Dijk     Holand     30       Zagueiro
5             Varane     França     30       Zagueiro
6            Benzema     França     33       Atacante
7    Vinicius Junior     Brasil     22       Atacante
8              Kante     França     29        Volante